Auto-Email Classifier.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": {}
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "6ea68be5-ec41-42c4-a06b-f4ca3d06686c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZxBkJy9DfW8TDwAL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "329a3073-2bed-4937-8fba-93489df2a1f3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZFHRPJrIUkGycVqM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0dfccc70-c7d2-4229-909b-044499c9e105",
              "leftValue": "={{ $json.output.action }}",
              "rightValue": "DELETE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "889c90b7-a2a2-41e4-9d4f-27be2ce76b62",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5352390785905496420"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -16
      ],
      "id": "636deffb-2112-425a-b05f-6d35be054fb3",
      "name": "Add label to message",
      "webhookId": "44fec7fb-c0cb-4e31-a82c-b84fbb360f80",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZxBkJy9DfW8TDwAL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao",
          "mode": "list",
          "cachedResultName": "reasons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender": "={{ $('Gmail Trigger').item.json.From }}",
            "reason": "={{ $('Basic LLM Chain').item.json.output.reason }}",
            "time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -144
      ],
      "id": "1b39643d-f17e-4866-bf79-3e9f43354861",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sFuYrrufB47S5wuT",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject:\n{{ $json.Subject }}\n\nFrom:\n{{ $json.From }}\n\nBody:\n{{ $json.snippet }}\n\n\nYou are an email classifier.\n\nClassify this email.\n\nDelete if it is:\n- Advertisement\n- Marketing\n- Promotion\n- Social notification\n- Newsletter\n- Coupon\n- Sale\n- Product update\n- Automated promotional email\n- Welcome message to a service/application which is meaningless and has no important information ssuch as OTP or QR.\nIf it is a simple greeting or you are unsure, look at the sender, if it is not a promotional or social media account and is a genuine human, then keep it.\n\nKeep if it is:\n- Personal\n- Work\n- Banking\n- University\n- Invoice\n- Receipt\n- Security alert\n- OTP\n- GitHub\n- Job related\n\nReturn a json: with 2 variables: \n1.\"action\"\n2.\"reason\"\n\nIMPORTANT:\n\nReturn ONLY valid JSON.\n\nDo NOT wrap the JSON in markdown.\nDo NOT use triple backticks.\nDo NOT add any explanation before or after the JSON.\n\nExample:\n\n{\n  \"action\": \"DELETE\",\n  \"reason\": \"Promotional newsletter\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "4f59ebfb-7d5a-4eaa-9aee-79331039d093",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"action\": \"DELETE\",\n  \"reason\": \"Promotional newsletter\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        304
      ],
      "id": "9ce1cf43-824c-4a4a-a818-693bf1b1ca76",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao",
          "mode": "list",
          "cachedResultName": "reasons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GdzmSLY_ys0lWZzmFGbzNfLiwJRT_mO3QbvKJRxAao/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reason": "={{ $('Basic LLM Chain').item.json.output.reason }}",
            "sender": "={{ $('Gmail Trigger').item.json.From }}",
            "time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        176
      ],
      "id": "4486445c-ec8d-4146-9c0a-03ab01075ec6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sFuYrrufB47S5wuT",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ab807494-efdf-4646-a84d-44e7645965f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6be2faebf4621b6527747f85c553efcc9e02c32c3d24473171d1d860cc96e19a"
  },
  "nodeGroups": [],
  "id": "KMKssJ4AlTIlCDjt",
  "tags": []
}